@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebApp_camera_laptop.Models.Account>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- breadcrumb area start -->
<section class="breadcrumb__area box-plr-75">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__wrapper">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home">Trang chính</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a></a>Danh sách nhân viên</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<form asp-action="Index" method="get">
    <div class="form-group col-md-3">
        <div class="input-group margin-bottom-3">
            <input id="name" name="name" type="text" class="form-control" placeholder="Tên nhân viên">
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="input-group margin-bottom-3">
            <input id="sdt" name="sdt" type="text" class="form-control" placeholder="Số điện thoại">
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="input-group margin-bottom-3">
            <input id="email" name="email" type="text" class="form-control" placeholder="email">
        </div>
    </div>
    @*<button type="submit" class="btn btn-primary">Tìm kiếm</button>*@
</form>

<!-- breadcrumb area end -->
<table class="table table-condensed">

    <caption>Danh sách nhân viên : page @CurrentPage</caption>
    <div class="dropdown js__drop_down" style="padding-top: 13px">
        <a class="btn btn-info btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Create">Thêm tài khoản</a>
        <!-- /.sub-menu -->
    </div>

    <thead>
        <tr>
            <th>Họ và tên</th>
            <th>Số điện thoại</th>
            <th>Tên tài khoản</th>
            <th>Trạng thái</th>
            <th>Role</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>

                    <td>
                        @if (item.Active == true)
                        {
                            <span class="notice notice-blue">Hoạt động</span>
                        }
                        else
                        {
                            <span class="notice notice-danger">Khóa</span>
                        }
                    </td>
                    <td>@item.Role.RoleName</td>
                    <td width="230px">
                       @* <a class="btn btn-info btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Details" asp-route-id="@item.AccountId">View</a>*@
                       @* <a class="btn btn-primary btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Edit" asp-route-id="@item.AccountId">Edit</a>*@
                        @*<a class="btn btn-success btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Page @CurrentPage</div>
    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
            <ul class="pagination">
                <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index"></pager>
            </ul>
        </div>
    </div>
</div>
