@model IEnumerable<WebApp_camera_laptop.Models.Producer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="breadcrumb__area box-plr-75">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__wrapper">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a></a>Quản lý nhà sản xuất</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-xs-12">
    <div class="box-content">
        <h4 class="box-title">Danh sách nhà sản xuất</h4>
        <div class="dropdown js__drop_down">
            <a class="btn btn-info btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminProducers" asp-action="Create">Thêm nhà sản xuất</a>
            <!-- /.sub-menu -->
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên nhà sản xuất</th>
                    <th>Mô tả</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.ProducerId</th>
                            <td>@item.ProducerName</td>
                            <td>@item.Description</td>
                            <td>
                                <a class="btn btn-info btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminProducers" asp-action="Details" asp-route-id="@item.ProducerId">Chi tiết</a>
                                <a class="btn btn-primary btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminProducers" asp-action="Edit" asp-route-id="@item.ProducerId">Cập nhật</a>
                                <a class="btn btn-danger btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminProducers" asp-action="Delete" asp-route-id="@item.ProducerId">Xóa</a>

                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    <!-- /.box-content -->
</div>
